@import 'src/style/_variables';

#root {
  width: 70%;
  margin: 0 auto;
}

.student {
  background-color: $light-gray;
  padding: 0.5em 8px;
  margin: 4px 12px;
  width: calc(100% / 8 - 40px);
  display: inline-block;
  text-align: center;
}

.group-container {
  button {
    border: none;
    margin: 1em 0;
    padding: 0 2em;
    color: white;
    background-color: $primary-color;
  }

  .group {
    border: 1px solid $gray;
    margin-bottom: 24px;

    input {
      color: white;
      background-color: $gray;
      text-align: center;
      width: 100%;
      padding: 8px 0;
      outline: none;
      border: none;
    }

    .group-students {
      margin: 12px 24px;
    }
  }
}

.student-container {
  input {
    border: 1px solid $dark-gray;
    cursor: pointer;
  }

  input:focus {
    cursor: auto;
    content: '';
  }
}
// helper
.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
